<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=satmg1;AccountKey=/27p/cgLPd4Oyd1yvBJPX8XB1E6XjAUVsUzbzrXw0nsVQyJeDtBJgKINxrOEZpGX8dWemkFGJ3zTqzrj0kD0bQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
 
</configuration>